.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .studies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .e-s-content {
    text-align: center;
  }
  
  .experience-sub-title {
    font-style: italic;
    margin-bottom: 20px;
  }

  .studies-title {
    font-style: italic;
  }